
.deposit{  margin: 20px 0;
    padding: 10px 0 4px 4px;
    border-bottom: 6px solid;
    font-size: 26px;
}
.news_box{  border: 1px solid #ddd;  padding: 20px;  margin-bottom: 40px;}
.news dt{  border-bottom: #ddd dotted 1px;  padding-bottom: 3px;}
.news dd{  padding: 10px 10px 30px;}
.news_title{font-size: 20px;  margin-bottom: 24px;}

.transfer_title{font-size: 20px;  margin-bottom: 24px;}
.search{  border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;}
.w50 { width:  50px;}
.w80 { width:  80px;}
.w100{ width: 100px;}
.w120{ width: 120px;}
.w130{ width: 130px;}
.w150{ width: 150px;}
.w200{ width: 200px;}